* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    /* background: black; */
}

:root {
    --small-font-weight: 100;
    --medium-font-weight: 400;
    --bd-font-weight: 800; 
}

h1, h2, h3, h4 {
    font-weight: var(--bd-font-weight);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;

}

.emphasis {
    color: red;
}

/* MOBILE NAV */
.fa-xmark {
    color: white;
    font-size: 3rem;
    position: absolute;
    right: 0;
    top: 0;
    padding: 2em;
}

.mobile-nav {
    background: black;
    height: 100vh;
    width: 100vw;
    z-index: 9999999999;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: -3000px;
}

.close {
    left: -3000px;
    transition: 0.5s ease-in-out;
}

.show {
    left: 0;
    transition: 0.5s ease-in-out;
}



.mobile-links {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    align-items: center;
    font-size: 1.7rem;
    font-weight: var(--bd-font-weight);
    text-transform: uppercase;
    letter-spacing: 0.5rem;
}

.social-links {
    display: flex;
    gap: 1.5em;
    font-size: 3em;
    cursor: pointer;
}

.fa-facebook:hover, .fa-youtube:hover {
    color: red;
}

/* MAIN NAV */
#logo {
    cursor: pointer;
    z-index: 999999;
}

.main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2em;
    padding: 2em 2em;
    background: transparent;
    position: fixed;
    width: 100%;
    z-index: 9999999;
}


.main-links {
    color: black;
    gap: 1.5em;
    align-items: center;
    font-size: 1.1rem;
    font-weight: var(--bd-font-weight);
    text-transform: uppercase;
    display: flex;
    letter-spacing: 0.2rem;
}

.main-links a:hover {
    text-decoration: 4px red underline;
}

.fa-bars-staggered {
    font-size: 2em;
    display: none;
    color: black;
}

/* HERO SECTION */
.hero-text {
    background-attachment: fixed;
    background-image: url('images/dance-background.jpg');
    height: 100vh;
    /* width: 100vw; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 8rem;
    letter-spacing: 2rem;
    text-align: center;
}

/* FEATURE SECTION */
.ballet {
    height: 100vh;
    background-image: url(images/hero-image.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}



.microphone {
    height: 100vh;
    background-image: url(images/microphone.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


/* ABOUT SECTION */
.about {
    display: flex;
    flex-direction: column;
    padding: 10em;
}

.about-left::after {
    content: '';
    background: white;
    border: 10px dashed red;
    height: 550px;
    width: 500px;
    position: absolute;
    left: 150px;
    z-index: -99;
    transform: rotate(20deg);
}

.about-header {
    text-align: center;
    font-size: 3rem;
   vw text-transform: uppercase;
    padding: 2em;
}

.about-content {
    display: flex;
    justify-content: center; 
    gap: 8em;
    padding: 2em;
}

.about-text {
    padding: 0em 10em;
    font-size: 1.2rem;
    font-weight: var(--medium-font-weight);
    text-align: justify;
    line-height: 1.7rem;
    letter-spacing: 0.1rem;
    width: 50vw;
    z-index: 9999;
}

#linda {
    object-fit: cover;
    height: 600px;
    width: 400px;
    border-radius: 1em;
    box-shadow: 0px 20px 30px rgb(0, 0, 0, 0.5);
    position: relative;
}



































/* MEDIA QUERIES */
@media screen and (max-width: 1317px){
    .main-links {
        display: none;
    }

    .main-nav {
        justify-content: space-between;
        background: transparent;
    }

    #logo {
        display: none;
    }

    .fa-bars-staggered {
        display: block;
        
    }

    
}

@media screen and (max-width: 1255px){
    h1 {
        font-size: 7rem;
    }
}



@media screen and (max-width: 1078px){
    h1 {
        font-size: 6.5rem;
        letter-spacing: 1.5rem;
    }

}

@media screen and (max-width: 940px){
    h1 {
        font-size: 5.5rem;
        letter-spacing: 1.2rem;
    }


}

@media screen and (max-width: 800px){
    h1 {
        font-size: 4.5rem;
        letter-spacing: 1rem;
    }

    .ballet {
        
        transform:scaleX(-1);
        background-position: right;
        
        
    }
}

@media screen and (max-width: 604px){
    h1 {
        font-size: 3.5rem;
        letter-spacing: 1rem;
    }
}

@media screen and (max-width: 548px){
    h1 {
        font-size: 3.5rem;
        letter-spacing: 0.5rem;
    }
}

@media screen and (max-width: 432px){
    h1 {
        font-size: 3rem;
        letter-spacing: 0.3rem;
    }

    
}


@media screen and (max-width: 375px){
    
    .fa-xmark {
        padding: 1em;
    }
}


@media screen and (max-width: 368px){
    h1 {
        font-size: 3rem;
        letter-spacing: 0.1rem;
    }
   
}


@media screen and (max-width: 1700px){
    .about-left::after {
        display: none;  
    }
   
}



@media screen and (max-width: 1629px){
    .about-text {
        padding: 2em 2em;
        text-align:start;
    }
   
}

@media screen and (max-width: 394px){
    #linda {
        height: 600px;
        width: 400px;
    }

    .about-content {
        padding: 0;
    }

   
   
}

@media screen and (max-width: 350px){
    #linda {
        height: 200px;
        width: 200px;
    }

    .about-content {
        padding: 0;
    }

   
   
}



@media screen and (max-width: 1318px){
    #linda {
        height: 400px;
        width: 250px;
    }

   
   
}

@media screen and (max-width: 1157px){
   .about-content {
    gap: 1em;
   }

}

@media screen and (max-width: 819px){
    .about-left {
        margin: 0 auto;
    }

    .about-content {
        display: flex;
        flex-direction: column;
    }

    .about {
       padding: 0;
    }
    .about-text {
        width: 100%;
    }
 
 }

 @media screen and (max-width: 375px){
    
 
    .about-header {
        padding: 1em;
    }


    .about-text {
        letter-spacing: normal;
        padding: 2em 1em;
    }
 }