* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    /* background: black; */
}

:root {
    --small-font-weight: 100;
    --medium-font-weight: 400;
    --bd-font-weight: 800; 
}

h1, h2, h3, h4 {
    font-weight: var(--bd-font-weight);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;

}

/* MOBILE NAV */
.fa-xmark {
    color: white;
    font-size: 3rem;
    position: absolute;
    right: 0;
    top: 0;
    padding: 2em;
}

.mobile-nav {
    background: black;
    height: 100dvh;
    width: 100%;
    z-index: 999999;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: -3000px;
}

.close {
    left: -3000px;
    transition: 0.5s ease-in-out;
}

.show {
    left: 0;
    transition: 0.5s ease-in-out;
}



.mobile-links {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    align-items: center;
    font-size: 1.7rem;
    font-weight: var(--bd-font-weight);
    text-transform: uppercase;
    letter-spacing: 0.5rem;
}

.social-links {
    display: flex;
    gap: 1.5em;
    font-size: 3em;
    cursor: pointer;
}

.fa-facebook:hover, .fa-youtube:hover {
    color: red;
}

/* MAIN NAV */
#logo {
    cursor: pointer;
    z-index: 999999;
}

.main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2em;
    padding: 2em 2em;
    background: transparent;
    position: fixed;
    width: 100%;
    z-index: 9999999;
}


.main-links {
    color: black;
    gap: 1.5em;
    align-items: center;
    font-size: 1.1rem;
    font-weight: var(--bd-font-weight);
    text-transform: uppercase;
    display: flex;
    letter-spacing: 0.2rem;
}

.main-links a:hover {
    text-decoration: 4px red underline;
}

.fa-bars-staggered {
    font-size: 2em;
    display: none;
    color: black;
}

/* HERO SECTION */
.hero-text {
    background-attachment: fixed;
    background-image: url('images/dance-background.jpg');
    height: 100dvh;
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 8rem;
    letter-spacing: 2rem;
    text-align: center;
}

/* FEATURE SECTION */
.ballet {
    height: 100vh;
    background-image: url(images/hero-image.jpg);
    background-attachment: fixed;
    background-size: cover;
}



.microphone {
    height: 100vh;
    background-image: url(images/microphone.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}


/* ABOUT SECTION */
.about {
    display: flex;
    padding: 10em;
}




































/* MEDIA QUERIES */
@media screen and (max-width: 1317px){
    .main-links {
        display: none;
    }

    .main-nav {
        justify-content: space-between;
        background: transparent;
    }

    #logo {
        display: none;
    }

    .fa-bars-staggered {
        display: block;
        
    }

    
}

@media screen and (max-width: 1255px){
    #hero-text {
        font-size: 5.5rem;
    }
}

@media screen and (max-width: 950px){
    #hero-text {
        font-size: 5rem;
        letter-spacing: 1.5rem;
    }

}

@media screen and (max-width: 800px){
    #hero-text {
        font-size: 4.5rem;
        letter-spacing: 1.2rem;
    }


}

@media screen and (max-width: 700px){
    #hero-text {
        font-size: 4rem;
        letter-spacing: 1rem;
    }
}

@media screen and (max-width: 602px){
    #hero-text {
        font-size: 3.5rem;
        letter-spacing: 1rem;
    }
}

@media screen and (max-width: 538px){
    #hero-text {
        font-size: 3.5rem;
        letter-spacing: 0.3rem;
    }
}

@media screen and (max-width: 440px){
    #hero-text {
        font-size: 3rem;
        letter-spacing: 0.2rem;
    }

    
}

@media screen and (max-width: 368px){
    #hero-text {
        font-size: 3rem;
        letter-spacing: 0.1rem;
    }

   
}